<script>
	import { Router, Route } from "svelte-routing";
	import Home from "./Pages/Home.svelte";
	import Recipe from "./Pages/Recipe.svelte";

	import Header from './Components/Header.svelte'
	import Footer from './Components/Footer.svelte'

	export let url = "";
</script>


<Router url="{url}">
	<Header/>
	<div>
		<Route path="/recipe/:id" component="{Recipe}"/>
		<Route path="/recipe" component="{Home}"/>
		<Route path="/" component="{Home}"/>
	</div>
	<Footer/>
</Router>

<style>
	:global(div) {
		box-sizing: border-box;
	}

	:global(body) {
		margin: 0;
		padding: 0;
		font-size: 22px;
	}

	:global(.container) {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 15px;
	}

	:global(.container-fluid) {
		width: 100%;
		padding: 0 15px;
	}
</style>
