<script>
	import Dashboard from '../Components/Dashboard.svelte';
	import Slider    from '../Components/Slider.svelte';
	import Title     from '../Components/Title.svelte';
	import Card      from '../Components/Card.svelte';

	let cards = [
			{
				id: 0,
				name: "Спагетти карбонара с красным луком",
				img: "/images/r.jpg",
			},
			{
				id: 1,
				name: "Крем суп с брокколи",
				img: "/images/1.jpg",
			},
			{
				id: 2,
				name: "Стейк рибай",
				img: "/images/2.jpg",
			},
			{
				id: 3,
				name: "Чизкейк с OREO",
				img: "/images/3.jpg",
			},
		]


	let cards2 = [
			{
				id: 3,
				name: "Чизкейк с OREO",
				img: "/images/3.jpg",
			},
			{
				id: 4,
				name: "Салат Цезарь",
				img: "/images/4.jpg",
			},
			{
				id: 5,
				name: "Фрикадельки в соусе",
				img: "/images/5.jpg",
			},
			{
				id: 6,
				name: "Торт «Муравейник»",
				img: "/images/6.jpg",
			},
			{
				id: 2,
				name: "Стейк рибай",
				img: "/images/2.jpg",
			},
		];
</script>

<div class="container-fluid">
	<div class="container">
		<Title name="Ежедневная подборка">
			Это подборка от нашей редакции.<br>
			Здесь всегда отображаются только лучшие рецепты.
		</Title>
	</div>
</div>

<Slider>
	{#each cards as data}
		<Card {data}/>
	{/each}
</Slider>

<div class="container-fluid">
	<div class="container">
		<Title name="Статьи и тематические блюда">
			Статьи на тему готовки и питания.<br>
			Тематические блюда на ближайшие праздники, чтобы радовать близких.
		</Title>
	</div>
	<Dashboard>
		{#each cards2 as data, i}
			<Card small={(i + 1) % 4 < 2} nomargin={i % 2 == 1} {data}/>
		{/each}
	</Dashboard>
</div>
