<script>
	export let id = 0;

	import Title      from "../Components/Title.svelte";
	import Text       from "../Components/Text.svelte";
	import ImagedText from "../Components/ImagedText.svelte";
</script>

<div class="container-fluid">
	<div class="container">
		<Title name="Спагетти карбонара с красным луком"/>

		<img class="image" src="/images/r.jpg" alt=""/>

		<Text>
			Спагетти карбонара — хоть блюдо и итальянское, оно имеет хорошую
			популярность во всем мире, в том числе и у нас. Изобретенная
			когда-то простыми шахтерами, эта простая и сытная паста завоевала
			сердца и желудки многих. Для карбонары нужно выбирать такие ломтики
			бекона, где больше мяса и меньше жира. Если его будет много, то,
			вытапливаясь при готовке, он сделает пасту слишком тяжелой. Можно
			подавить чеснок и бросить в поджарку. Но, чтобы блюдо приобрело
			утонченный, еле уловимый аромат, достаточно потомить ломтики
			чеснока в масле и убрать из сковороды спустя пару минут. Не
			обязательно использовать в рецепте карбонары спагетти — выбирайте
			любимые макароны из 500 видов всевозможной пасты. Но только из
			твердых сортов пшеницы. 
		</Text>
		<Text>
			<table>
				<tr>
				<tr>
					<td>Спагетти</td>
					<td>250 г</td>
				</tr>
				<tr>
					<td>Сливочное масло</td>
					<td>20 г</td>
				</tr>
				<tr>
					<td>Чеснок</td>
					<td>2 зубчика</td>
				</tr>
				<tr>
					<td>Красный лук</td>
					<td>1 головка</td>
				</tr>
				<tr>
					<td>Бекон</td>
					<td>50 г</td>
				</tr>
				<tr>
					<td>Сливки 20%-ные</td>
					<td>200 мл</td>
				</tr>
				<tr>
					<td>Тертый сыр пармезан</td>
					<td>50 г</td>
				</tr>
				<tr>
					<td>Куриное яйцо</td>
					<td>4 штуки</td>
				</tr>
				<tr>
					<td>Соль</td>
					<td>по вкусу</td>
				</tr>
				<tr>
					<td>Молотый черный перец</td>
					<td>по вкусу</td>
				</tr>
			</table>
			<ImagedText img="/images/r1.png">
				1. Вскипятите воду в большой кастрюле и сварите пасту до
				состояния аль денте. Обычно для этого нужно варить ее на минуту
				меньше, чем указано на пачке.
			</ImagedText>
			<ImagedText img="/images/r2.png">
				2. Пока паста варится, растопите на сковороде масло и обжарьте
				на нем мелко нарезанные лук, чеснок и бекон. До мягкости и до
				отчетливого чесночного и жаренобеконного запаха.
			</ImagedText>
			<ImagedText img="/images/r3.png">
				3. Снимите сковороду с огня и в глубокой миске взбейте четыре
				яичных желтка со сливками и тертым пармезаном. Посолите и
				поперчите смесь, еще раз взбейте.
			</ImagedText>
			<ImagedText img="/images/r4.png">
				4. В готовые спагетти вывалите обжаренные с луком и чесноком
				кусочки бекона. Влейте смесь сливок, желтков и пармезана,
				перемешайте. И сразу подавайте, посыпав свеженатертым сыром и
				черным молотым перцем.
			</ImagedText>
		</Text>
	</div>
</div>

<style>
	table {
		width: 70%;
		margin: 20px auto;
		border: 0;
		border-spacing: 0;
	}

	td {
		border-bottom: 2px solid #ddd;
	}

	.image {
		width: 100%;
		height: 600px;
		object-fit: cover;
		border-radius: 30px;
		margin: 30px 0;
	}
</style>
