<script>
	export let nomargin = false;
	export let small = false;
	export let data = {};

	import { link } from "svelte-routing";
</script>

<a class:small={small} class:nomargin={nomargin} class="card" href="/recipe/{data.id}" use:link>
	<img src={data.img} alt={data.name}>
	<div class="card__meta">
		<span class="card__meta__name">
			{data.name}
		</span>
		<span class="card__meta__info">
			by: <b>admin</b><br>
			time: <b>1h 20m</b>
		</span>
	</div>
</a>

<style>

	.card {
		flex: 0 0 auto;
		width: calc(60% - 30px);
		height: 520px;
		margin: 0 30px 30px 0;
		border-radius: 30px;
		overflow: hidden;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
		position: relative;
		display: block;
		color: #fff;
		text-decoration: none;
	}

	.card.nomargin {
		margin-right: 0;
	}

	.card.small {
		width: 40%;
	}

	.card img {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card__meta {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		padding: 30px;
		min-height: 260px;
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
	}

	.card__meta__name {
		font-size: 40px;
		font-weight: 400;
		line-height: 50px;
		margin-bottom: 20px;
	}
</style>
