<script>
</script>

<div class="container dashboard">
	<slot/>
</div>

<style>
	.dashboard {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0px;
		flex-wrap: wrap;
	}
</style>
