<script>
	import Logo from '../Components/Logo.svelte';
</script>

<div class="container-fluid footer_wrapper">
	<div class="container footer">
		<Logo height=80/>
		<br>
		2021
	</div>
</div>

<style>
	.footer_wrapper {
		margin-top: 30px;
		border-top: 1px solid black;
	}

	.footer {
		text-align: center;
		padding: 80px 0;
	}
</style>
