<script>
	import Logo from '../Components/Logo.svelte'
	import { link } from "svelte-routing";

	let isMenuOpen = false;

	let toggleMenu = () => {
		isMenuOpen = !isMenuOpen;
	}
</script>

<div class="container-fluid header_wrapper">
	<div class="container header">
		<div class="header__logo">
			<a use:link href="/">
				<Logo height=70/>
			</a>
		</div>
		<div class="header__menu_button">
			<button on:click={toggleMenu}>
				<img src="/images/menu.svg" height=80 alt="menu">
			</button>
		</div>
	</div>
</div>
<div class:closed={!isMenuOpen} class="container-fluid menu_wrapper">
	<div class="container header">
		<div class="header__logo">
			<a on:click={toggleMenu} use:link href="/">
				<Logo height=70/>
			</a>
		</div>
		<div class="header__menu_button">
			<button on:click={toggleMenu}>
				<img src="/images/cross.svg" height=80 alt="menu">
			</button>
		</div>
	</div>
	<div class="menu">
		<nav>
			<a on:click={toggleMenu} use:link href="/">Главная</a>
			<a on:click={toggleMenu} use:link href="/search">Поиск</a>
			<a on:click={toggleMenu} use:link href="/">Регистрация</a>
			<a on:click={toggleMenu} use:link href="/">Вход</a>
		</nav>
	</div>
</div>

<style>
	.header_wrapper {
		padding-bottom: 30px;
	}

	.menu_wrapper {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0px;
		background-color: #fff;
		transition: 0.15s ease;
		z-index: 1000;
	}

	.menu_wrapper.closed {
		visibility: hidden;
		opacity: 0;
	}

	.header {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	button, button:focus {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		margin: 0;
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 70%;
	}
	.menu {
		position: fixed;
		top: 80px;
		width: 100%;
		height: calc(100% - 160px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu a {
		text-decoration: none;
		color: #2f2f2f;
		font-size: 40px;
		font-weight: 500;
	}

	.menu a:hover {
		text-decoration: underline;
	}
</style>
