<script>
	export let img;
</script>

<div class="imaged_text">
	<img class="image" src={img} alt="step"/>
	<div class="text">
		<slot/>
	</div>
</div>

<style>
	.imaged_text {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 30px auto;
	}

	.image {
		width: 40%;
		border-radius: 30px;
		object-fit: cover;
	}

	.text {
		width: 60%;
		padding: 20px 0px 20px 30px;
	}
</style>
