<script>
</script>

<div class="container-fluid slider">
	<div class="container slider_inner">
		<slot/>
		<div class="dummy">.</div>
	</div>
</div>

<style>
	.slider::-webkit-scrollbar {
		display: none;
	}

	.slider {
		overflow-x: scroll;
		overflow-y: hidden;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.slider_inner {
		width: auto;
		overflow: visible;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 20px 0px 10px 0px;
	}

	.dummy {
		color: transparent;
		font-size: 1px;
	}
</style>
