<script>
	export let name = "Title";
</script>

<div class="title">
	<div class="title__name">
		<h1>
			{name}
		</h1>
	</div>
	<div class="title__description">
		<slot/>
	</div>
</div>

<style>
	.title {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: flex-start;
		margin: 40px 0 20px 0;
	}

	.title__name {
		width: 40%;
	}

	.title__name h1 {
		font-size: 40px;
		line-height: 50px;
		margin: 0;
	}

	.title__description {
		width: 60%;
		margin: 0 0 0 30px;
	}
</style>
